

<%- include('./header'); %>
<h1>Hi <%= givenName %></h1>

<% if (mods) { %>
  <p>Quarts Activ Modules</p>
  <table>
    <% for(var i=0; i < mods.length; i++) { %>
       <tr>
         <td><%= mods[i].app_name %></td>
       </tr>
    <% } %>
  </table>
 
 <% }else { %>

  <p>NO MODS</p>

  <%} %>


  <a href="/livestream/channel/nquanz" > nquanz</a>
  <a href="/livestream/channel/ewiedmer" > ewiedmer</a>

</a>

