<!DOCTYPE html>
<html lang="de">
<head>

  <%- include('./head'); %>

</head>

<header>

  <%- include('./header'); %>

</header>

<footer>

    <%- include('./footer'); %>

</footer>

</body>

</html>

