<% if (chn.feedback == 1 ) { %>
    <p>Feedback deaktiviert</p>
  <% } else if ((chn.feedback == 3 || chn.feedback == 2) && same)  {%>
    <button onclick="socket2.emit('feedback', '1')">GOOD</button>
    <button onclick="socket2.emit('feedback', '-1')">BAD</button>
    <button onclick="socket2.emit('feedback', 'reset')">Reset</button>
    <p id="feedbackStatus"></p>
    <p id="Positiv"></p>
    <p id="Negativ"></p>
  <% } else if (chn.feedback == 2 && !user)  {%>
    <p>Feedback deaktiviert, bitte einloggen</p>
  <% } else if (chn.feedback == 2 && user)  {%>
    <button onclick="socket2.emit('feedback', '1')">GOOD</button>
    <button onclick="socket2.emit('feedback', '-1')">BAD</button>
      <p id="feedbackStatus"></p>
  <% } else if (chn.feedback == 3)  {%>
    <button onclick="socket2.emit('feedback', '1')">GOOD</button>
    <button onclick="socket2.emit('feedback', '-1')">BAD</button>
      <p id="feedbackStatus"></p>
  <% }%>