<!DOCTYPE html>
<html lang="de">
<head>

  <%- include('./head'); %>

</head>

<header>

  <%- include('./header'); %>

</header>

<script>
  const socket = io();
</script>



  <a href="/channel/nquanz" > nquanz</a>
  <a href="/channel/ewiedmer" > ewiedmer</a>
  <a href="/settings" > Einstellungen</a>

<footer>
    <%- include('./footer'); %>
</footer>

</body>
</html>

