.container {
  max-width: 100%;
  padding: 0px;
}
#chatActions {
  width: 100%;
  border-top: 2px solid rgb(0, 123, 255);
}

#messages {
  flex-grow: 1;
  overflow-y: scroll;
}
.chatcontainer {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  position: absolute;
  bottom: 0;
  border: 2px solid rgb(0, 123, 255);
}

.messageContainer {
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
  display: inline-block;
  overflow: hidden;
  width: 90%;
}
.sendMessage {
  display: inline-block;
}
.username {
  display: inline;
  float: left;
  font-weight: bold;
}
.chat {
  list-style-type: none;
  display: contents;
}
.message {
  display: block;
  overflow: hidden;
  word-break: break-word;
  margin-left: 0.2em;
}
.information {
  display: inline-block;
}
.inputMessage {
  display: inline;
  overflow: hidden;
  width: 72%;
}
.inlineButton {
  display: inline;
  overflow: hidden;
  width: 25%;
}
.no-padding {
  padding: 0px;
}
.no-margin {
  margin-left: 0;
  margin-right: 0;
}

#sendbottom {
  margin: 0.2em;
}
