<h1>CHANNEL BY <%= name %></h1>

<h1>TTTLE: <%= chn.title %></h1>



<p> DESCIPTION <%= chn.descirp %></p>

<% if (key) { %>
    <p>streaming KEY: <%=key%></p>
<% }else { %>
    <p>NONOONO</p>
<%} %>


<link href="http://vssubuntu:3000/livestream/player/video-js-7.8.2/video-js.css" rel="stylesheet">
<link href="http://vssubuntu:3000/livestream/player/videojs-quality-selector/css/quality-selector.css" rel="stylesheet">


<video id="test" class="video-js" style="width: 100%;" controls>
    <source src="http://vssubuntu:3000/livestream/content/ewiedmer/index.m3u8" type="application/x-mpegURL" label="HD"/>
</video>

<script src="http://vssubuntu:3000/livestream/player/video.js"></script>
<script src="http://vssubuntu:3000/livestream/player/videojs-quality-selector/js/silvermine-videojs-quality-selector.js"></script>

<script>
	var player = videojs('test');	
	player.controlBar.addChild('QualitySelector');
	player.play();
</script>