<!DOCTYPE html>
<html lang="de">
<head>

  <%- include('./head'); %>
</head>


<header>
  <%- include('./header'); %>
</header>

<h1>Livestreams</h1>


  <a href="/livestream/channel/nquanz" > nquanz</a>
  <a href="/livestream/channel/ewiedmer" > ewiedmer</a>


<footer>
    <%- include('./footer'); %>
</footer>

</body>
</html>

